@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Brygada 1918", serif;
  font-weight: 700;
}
